<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WebSocketExperiment2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>84A4BE0F1D99814F00427E6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84A4BE201D99815000427E6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84A4BE2B1D99815000427E6D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
